In [ ]:
SELECT NEV, USERNEV, EMAIL
FROM vendeg
WHERE EXISTS
(
    SELECT v.NEV ,COUNT(f.FOGLALAS_PK)
    FROM Vendeg v JOIN Foglalas f ON v.USERNEV = f.UGYFEL_FK
    WHERE MONTH(v.SZUL_DAT) <> 5
    GROUP BY NEV
    HAVING COUNT(f.FOGLALAS_PK) > 1
)

In [63]:
SELECT SZALLAS_ID, SZALLAS_NEV
FROM Szallashely
WHERE EXISTS 
(
    SELECT HELY, MAX(CSILLAGOK_SZAMA)
    FROM szallashely
    GROUP BY HELY
)

SZALLAS_ID,SZALLAS_NEV
1,Sába-Ház
2,Családi Ház
3,Fortuna Apartman
4,Fortuna panzió
5,Fortuna Panzió
6,Kentaur Hotel
7,Szieszta Apartmanház
8,Hotel Három Hattyú
9,Jáde panzió
10,Lagúna Hotel
11,Partiszél Vendégház
12,Gold Hotel
13,Riviéra Panzió
14,Nyárfás Vendégház
15,Tímárház Panzió
16,Bagoly Hotel
17,Szarvas Hotel
18,Fortuna Apartman
19,Nyárfás Vendégház
20,Kollégium
21,Müller Vendégház

In [ ]:
SELECT szh.SZALLAS_NEV, f.mettol,
       AVG(f.FELNOTT_SZAM + f.GYERMEK_SZAM) OVER(PARTITION BY szh.szallas_nev ORDER BY f.METTOL
               ROWS BETWEEN 5 PRECEDING AND CURRENT ROW)
FROM Foglalas f JOIN Szoba sz ON f.szoba_fk = sz.szoba_id
                JOIN Szallashely szh ON sz.SZALLAS_FK = szh.SZALLAS_ID

In [ ]:
SELECT IIF(szh.SZALLAS_NEV IS NULL, 'Összesen', szh.SZALLAS_NEV), sz.POTAGY, SUM(FELNOTT_SZAM) + SUM(GYERMEK_SZAM) AS 'Összes fő'
FROM szallashely szh JOIN Szoba sz ON szh.SZALLAS_ID = sz.SZALLAS_FK
                    JOIN Foglalas f ON sz.SZOBA_ID = f.SZOBA_FK
GROUP BY ROLLUP(szh.SZALLAS_NEV, sz.POTAGY)

A nem sql feladatokat is ide írom

In [ ]:
CREATE TABLE #MaskedGuest
(
    usernev nvarchar(10) PRIMARY KEY,
    nev NVARCHAR(20) MASKED WITH (FUNCTION = 'partial(2, "XXXX", 3)'),
    email NVARCHAR(30),
    szaml_cim nvarchar(40),
    SZUL_DAT date,
)

In [ ]:
HSET IRO:1 nev "József Attila" nemzetiseg "magyar"
HSET IRO:1 nev "Petőfi Sándor" nemzetiseg "magyar"

HSET KONYV:1:1 cim "első cim" mufaj "mufaj1"
HSET KONYV:2:2 cim "masodik cim" mufaj "mufaj2"

In [ ]:
CREATE TABLE STUDENT (
    ID int PRIMARY KEY,
    teljesitett_felevek LIST<int>,
    eredmenyek map<INT, FLOAT>,
    nyelvtudas SET<TEXT>
);

INSERT INTO STUDENT (ID, teljesitett_felevek, eredmenyek, nyelvtudas) 
VALUES (1, ['1', '2'], , {1: 2.0, 2: 3.3} ,{'Nemet', 'angol'});

INSERT INTO STUDENT (ID, teljesitett_felevek, eredmenyek, nyelvtudas) 
VALUES (2, ['1', '2', '3'], , {1: 2.0, 2: 3.3, 3: 2.54} ,{'Nemet', 'angol', 'francia'});

In [ ]:
MATCH (p:Person {name:'Tom Hanks'})-[:ACTED_IN]->(m:Movie)<-[:ACTED_IN]-(p2:Person)
RETURN DISTINCT p2.name